@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    
    
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: grid;
    height:auto;
    grid-template-columns:repeat(12,1fr);    
    
}

.logo {
   grid-column: span 1;
   background-color: #3D1C63;
   
}
.logo img {
    object-fit: cover;
    height:170px; 
}
.header-container{
   grid-column: span 11;  
   display: flex;
   flex-direction: column;
   width:100%;
   height: auto;
   margin:15px auto 0px;
 
   
}

.header-info {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    margin-bottom:20px;
    

 
}

.header-info .client-info a{
    color:#D4AF37;
   
}
.header-info .social img {
    width:50px;
}

.header-info .contact p {
   
    font-weight:600;
    font-size:1.2rem;
    
    text-align: center;

}
.header-info .contact p:last-child{
    font-weight:600;
    font-size:1.5rem;
    color: #3D1B62;
    padding-top:0.5em;
}



.header-container nav ul {
   display: flex;
   justify-content:space-evenly;
   align-items: center;
   list-style: none;
   background-color: #D4AF37;
   height:74px;
  
   
   
}


.header-container nav ul li a{
    color:#fff;
    font-size:1.3rem;
    font-weight:600;
    text-decoration: none;

}


.header-container nav ul li a:hover{
    color:#3D1B62;
}

.active {
    background-color:#3D1B62;
    padding:1em;
    color: #fff;
}
.navbar .dropdown {

    position: relative;
    display: inline-block;
    
}

.navbar .submenu {
    display: none;
    position: absolute;
    background-color: #D4AF37;
    top:80%;
    padding-top:15px;
    min-width: 160px;
    z-index:999;
    
}

.navbar .submenu li {
    background-color: #D4AF37;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }

.navbar .dropdown:hover .submenu {
    display: block;
}

.main-mobile-menu {
    display: none;
}


.hero {

width:100%;
height:80vh;
background-image:linear-gradient(0deg, rgba(2, 2, 2, 0.429), rgba(16, 16, 16, 0.347)), url("../images/hero.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
justify-items: center;   
}



.leak-hero {

width:100%;
height:80vh;
background-image:linear-gradient(0deg, rgba(2, 2, 2, 0.429), rgba(16, 16, 16, 0.347)), url("../images/leak-hero.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
justify-items: center;   
}






.hero .container{
    text-align: center;
}
.hero .container h1 {
  color:#fff;
  font-size:2.5em;
  line-height:4.5rem;
  letter-spacing:0.1em;
  font-weight:700;
  margin-bottom:10px;
}

.open{
    display: block;
}

.close{
    display:none;
}

.hero .container a {
    text-align: center;
    background-color: #3D1B62;
    color:#fff;
    padding:10px 50px 10px 50px;
    border: 0px solid  #3D1B62;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}
.hero .container button:hover {
    background-color: #57268b;
}

.services {
    width:100%;
    height: auto;
    background-color: #fff;
    padding:5%;   
    text-align: center;
}

.services .container h2 {
    color:#391B5B;
    font-size:1.5rem;
    font-weight:600;
    margin-bottom:2%;
}

.services .container p {
    color:gray;
    margin-bottom:2%;
    line-height:1.5rem;
    
}

.services .container a {
    color:gray;
    text-decoration: none;
  
}
.services .container a:hover {
    text-decoration: underline;
}

.offer {
    background-image:linear-gradient(0deg, rgba(2, 2, 2, 0.326), rgba(16, 16, 16, 0.326)),  url("../images/offers.png");
    width:100%;
    height:auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.offer .container {
  padding:10%;
}
.offer .container h2 {
    color:#fff;
    font-size:1.8em;
    font-weight:600;
    margin-bottom:2%;
}

.offer .container p {
    width:80%;
    color:#fff;
    font-size:1.2rem;
    font-weight:400;
    margin-bottom:2%;
}

.offer .container ul {
    color:#fff;
    font-size:1.2rem;
    font-weight:400;
    padding-left:10%;

}

.testimonials {

    width:100%;
    height: auto;
    background-color:#391B5B;
    padding:8%;   
    text-align: center;
}

.testimonials .container h2 {
    color:#ffffff;
    font-size:1.5rem;
    font-weight:600;
    margin-bottom:2%;
}

.testimonials .container p {
    color:#ffffff;
    margin-bottom:2%;
    line-height:1.5rem;
    cursor: pointer;
    
}


.testimonials .container .person-name{
    color:#ffffff;
    text-decoration: none;
    font-style: italic;
  
}
.testimonials .container a:hover {
    text-decoration: underline;
}
.about-home {
     width: 100%;
     padding:5% 10% 5%;

    
}

.about-home .container {
  
   height:auto;
   display: flex;

}


.plumber-image{
    width:100%;    
    height:auto;
}

.about-home .container .box-2 {

    padding:3%;
    width:80%;

}
.about-home .container .box-2 h2 {
    font-size:1.2rem;
    font-weight:600;
    margin-bottom:3%;
}

.about-home .container .box-2 p {
    font-size:1rem;
    line-height:1.5rem;
    
}

.about-home .container .box-2 ul {
    font-size:1rem;
    line-height:2rem;
    padding-left:6%;
     
}
.faqs {
    width: 100%;
    background-color: #F1F1F1;
    padding:5% 10% 5%;
    display: flex;
    justify-content: space-evenly;
   
}


.faqs .container {
    width:60%;
}
.faqs .container h2 {
    font-size:1.5rem;
    font-weight:600;
    margin-bottom:1%;
}
.faqs .container details {
	display:block; 
	margin:10px 0;
}
.faqs .container summary {
	display:block; 
	background:white;
	color:#000000;
	padding:2rem;
	cursor:pointer;
    font-size:0.8rem;
    font-weight:500;
}
.faqs .container  p {
    padding:5%;
    background:white;
}
.faqs .container summary::-webkit-details-marker {
    background:#3D1B62; 
 }
 
 .faqs .container details[open] summary::-webkit-details-marker {
    color:#0000FF; 
   
 }
 .faqs .container summary::-webkit-details-marker {
    display: none
 }
 
 .faqs .container summary:after {
    content: url('../images/down-arrow.png');

    background-color: #391B5B;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    margin: -5px 0px 0 0;
    padding:5px;
    border-radius:50%;
    text-align: center;
    width: 6%;
    height:20%;
    background-size:contain;
 }
 
 .faqs .container details[open] summary:after {
    content: url('../images/arrow-up.png');
    background-color: #391B5B;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    margin: -5px 0px 0 0;
    padding:5px;
    border-radius:50%;
    text-align: center;
    width: 6%;
    background-size:contain;
 }

.faqs .facebook {
    width:20%;
    height:auto;

}

.intro-video {
    width: 100%;
    height:auto;
    padding:5% 30% 5%;
}

footer {
    width: 100%;
    height: auto;
    background-color: rgb(250, 250, 176);

    display: flex;
    justify-content:space-evenly;
    padding-top: 50px;;
    padding-bottom:50px;
   

}



footer .footer-about div {

    padding:5px;
    font-size:1rem;
    font-weight: 600;
    
}



footer .footer-about img {
    height:130px;


}

footer .footer-about .info img{

    height:15px;
}


footer .footer-social img {

 margin-top:20%;
 cursor: pointer;
 
}

footer .footer-services {

    width:20%;
    font-size:1rem;
    font-weight:600;
    
}
footer .footer-services ul {
    list-style:none;
    margin-top:10px;
}

footer .footer-services ul li{
    padding-top:10px;
}

footer .footer-services ul li a {
    text-decoration: none;
    color: #3D1B62;
}

footer .footer-services ul li a:hover {
    color:#D4AF37;
}

footer .footer-links {
    
    width:20%;
    font-size:1rem;
    font-weight:600;

}

footer .footer-links ul {
    list-style:none;
    margin-top:10px;
}

footer .footer-links ul li {
    padding-top:10px;

}

footer .footer-links ul li a{
    text-decoration: none;
    color: #3D1B62;

}

footer .footer-links ul li a:hover{
    text-decoration: none;
    color:#D4AF37;

}
.text-color {
    color:#D4AF37;
}

.text-color-2 {
    color:#000000;
}

.text-color-2:hover {
    color:#D4AF37;
}

.no-underline {
    text-decoration: none;
}

.copyright {
    background-color: #57268b;
    color: #fff;
    width: 100%;
    height:auto;
    padding:5% 0 5% 0;
    font-size:1rem;
    font-weight:500;
    
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

.copyright .box a {
    color:#D4AF37;
    text-decoration: none;
}

.copyright .box a:hover {
    color:#fff;
}

@media(max-width:1050px){
    .header-container nav ul li:first-child{
        margin-right: 2em;
        margin-left:1em;
    } 
    .about-home .container {
  
        flex-direction: column;
     
     }
    .about-home .container .box-2 h2 {

        margin-bottom:5%;
    }
    .about-home .container .box-2 p {
        margin-bottom:5%;
        
    }
    .faqs {
        width: 100%;
        background-color: #F1F1F1;
        padding:5% 10% 5%;
        display: flex;
        flex-direction: column;
       
    }
    .faqs .container {
        width:100%;
    }
    .faqs .facebook {
       text-align: auto;
    }
}


@media (max-width:850px) {
    header {
    
        display: none;
         
        
    }

    .main-mobile-menu {
       display: block;
    }
    
    .main-mobile-menu .header{
        background:#D4AF37;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        color: #fff;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .main-mobile-menu .header  a img {
        height:120px;
      }
      .main-mobile-menu .nav_ico {
        display: inline-block;
        position: relative;
        padding-right:20px;
      }
      .main-mobile-menu  .nav_ico label{
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        z-index: 1;
        cursor: pointer;
      }
      .main-mobile-menu .nav_ico span{
        display: block;
        height: 4px;
        width: 30px;
        background: #fff;
        margin: 4px 0
      }
      
      .main-mobile-menu .nav-overlay {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 998;
        background: transparent;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
      }
      .main-mobile-menu  .nav-overlay.active {
        background: rgba(0, 0, 0, 0.7);
        pointer-events: auto;
      }
      
      
      .main-mobile-menu #menu_trigger{
        position: fixed;
        opacity: 0;
        pointer-events: none;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
      }
      .main-mobile-menu .close_icon{
        color: #fff;
        font-size: 60px;
        position: relative;
        position: absolute;
        right: 20px;
        top: 20px;
        line-height: 0.7;
        transform: rotate(45deg);
      }
      .main-mobile-menu .close_icon input{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        margin: 0;
        cursor: pointer;
      }
      .main-mobile-menu .side_nav{
        position: fixed;
        right: 0;
        top: 0;
        width: 260px;
        height: 100vh;
        background:#D4AF37;
        z-index: 1001;
        padding-top: 100px;
        transition: all 0.3s ease-in-out;
        transform: translateX(100%);
        overflow-y: scroll;
        
      }
      .main-mobile-menu #menu_trigger:checked + .side_nav{
        transform: translateX(0%);
      }
      .main-mobile-menu .side_nav ul{
        padding: 0;
        margin: 0;
        list-style: none;
        font-size:1.2rem;
        font-weight: 600;
      }
      .main-mobile-menu .side_nav ul li{
        margin: 0;
      }

      .main-mobile-menu .side_nav ul li a{
        display: block;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        padding: 12px 30px;
        border-bottom: 1px solid;
        transition: all 0.3s ease-in-out;
      }
      


      .main-mobile-menu .side_nav ul .dropdown-mobile ul li a {

        font-size:0.8rem;
      }

      .main-mobile-menu .side_nav ul .dropdown-mobile:hover {
           
        cursor: pointer;
      }

      .main-mobile-menu  .services-mobile  {
      display: flex;
      justify-content: space-between;
      align-items: center;

        
      }
      .main-mobile-menu  .services-mobile {
        border-bottom: 1px solid #fff;
      }
     

      

    .faqs .facebook {
        text-align: auto;
     }  
     footer  #footerNav{
        gap:8%;
      }


}

@media (max-width:600px) {
 

        .services {
            padding:10%;  
        }
        .services .container h2 {
            text-align: left;
            margin-bottom:10%;
           

        }
        .services .container p {
             
            margin-bottom:10%;
            text-align: left;
        }
        .offer .container h2 {
            margin-top:6%;
          }
          .offer .container p {
            margin-top:6%;
          }

        .faqs .container summary:after {
            content: url('../images/down-arrow.png');
        
            background-color: #391B5B;
            float: right;
            font-size: 1.5em;
            font-weight: bold;
            padding:10px;
            border-radius:50%;
            margin:-5px -25px 0px 0px;
            text-align: center;
            width: 10%;
            height:5%;
            background-size:contain;
         }
         
         .faqs .container details[open] summary:after {
            content: url('../images/arrow-up.png');
            background-color: #391B5B;
            float: right;
            font-weight: bold;
            padding:10px;
            border-radius:50%;
            margin:-5px -25px 0px 0px;
            text-align: center;
            width: 10%;
            height:20%;
            background-size:contain;
         }
         .intro-video {
            padding:5% 10% 5%;
        }
        footer {
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }
        footer .footer-about img {
            width: 100%;
            height:300px;
        }
        footer .footer-about {
            margin-bottom:50px;
        }

        footer .footer-about div {
           
            padding:10px;
           

            
        }
        footer .footer-about .info img {
            width:15px;
            height:15px;
        }
            
        

        footer .footer-social img {
           
            margin-top:50%;
            cursor: pointer;
            text-align: center;
            
           }

        footer .footer-services {

            width:80%;
            text-align: center;
            margin-top:30px;
            
        }
        footer .footer-services ul li {
            padding-top:30px;
        }

        footer .footer-links {
    
            width:80%;
            text-align: center;
            margin-top:30px;
        
        }
        
        footer .footer-links ul {
            list-style:none;
            margin-top:10px;
        }
        
        footer .footer-links ul li {
            padding-top:30px;

        
        }

        .copyright {
            flex-direction: column;
            padding:5%;
            justify-content: center;
            justify-items: center;
        }
        
        .copyright .box {
            padding-top:2%;
        }
        
        
}

